# Dependencies
node_modules

# Environment
.env
.env.*

# Build outputs
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea

# Ignore storage of downloaded books
**/storage

# Ignore temporary files
**/import-log.json
